<%= render 'orders/show' %>

<section id="cancel-order-<%= @order.id %>">
  <% if @order.pending? %>
    <%= link_to "Cancel Order", admin_cancels_user_order_path(@order), method: :delete %>
  <% end %>
</section>
