<h2>Admin Merchant Index</h2>

<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>'>
    <h4><%= link_to merchant.name, admin_merchant_show_path(merchant.id) %></h4>
    <p>City: <%= merchant.city %></p>
    <p>State: <%= merchant.state %></p>
  </section>
<% end %>
