/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Place all the styles related to the Items controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: http://sass-lang.com/

 /* card details start  */

 .navbar-fixed-top {
    position:fixed !important;
}

 @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
 section{
     padding: 1px 0;
 }

 h2 {
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   font-size: 192px;
   padding: 10px 10px;
   text-align: center;
   text-transform: uppercase;
   text-rendering: optimizeLegibility;
 }

 .deepshd {
   color: #e0dfdc;
   background-color: #333;
   letter-spacing: .1em;
   text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
 }


 .jumbotron {
   background-color: #1ABC9C;

 }
 .details-card {
 	background: #ecf0f1;
 }

 .card-content {
 	background: #ffffff;
 	border: 4px;
 	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
 }

 .card-header h1 {
  font-family: 'Raleway';
  font-weight: 600 !important; }


 .card-img {
 	position: relative;
 	overflow: hidden;
 	border-radius: 0;
 	z-index: 1;
 }

 .card-img img {
 	width: 42vh;
 	height: 55vh;
  display: center
 }

 .center-block {
    display: block;
    margin-left: center;
    margin-right: center;
 }

 .card-img span {
 	   position: absolute;
     top: -5%;
     left: 12%;
     background: #1ABC9C;
     padding: -6px;
     color: #fff;
     font-size: 12px;
     border-radius: 1px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     transform: translate(-50%,-50%);
 }
 .card-img span h4{
         font-size: 12px;
         margin:0;
         padding:-10px -5px;
         line-height: 0;
 }
 .card-desc {
 	padding: 1.25rem;
 }

 .card-desc h4 {
 	color: #000000;
     font-weight: 600;

 }

 .card-desc p {

 	font-family: 'Raleway', sans-serif;
 }
 .btn-card{
 	background-color: #1ABC9C;
 	color: #fff;
 	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     padding: .84rem 2.14rem;
     font-size: .81rem;
     -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
     -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
     margin: 0;
     border: 0;
     -webkit-border-radius: .125rem;
     border-radius: .125rem;
     cursor: pointer;
     text-transform: uppercase;
     white-space: normal;
     word-wrap: break-word;
     color: #fff;
 }
 .btn-card:hover {
     background: orange;
 }
 a.btn-card {
     text-decoration: none;
     color: #fff;
 }
 /* End card section */
