<h1>Users</h1>
<% @users.each do |user| %>
  <section id="user-<%= user.id %>">
    <p>User: <%= link_to user.name, admin_user_show_path(user.id) %>
      Registered: <%= user.created_at %> Role: <%= user.role %></p>
  </section>
<% end %>
